.blog_warp {
    position: relative;
    width: 90%;
    margin: 0 auto;
    padding: 4em 0;
}
.blog_tab{
    padding-bottom: 4em;
}
.blog_h2{
    font-size: 18px;
    margin-bottom: 2em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000;
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 400;
    margin: 0 0 30px 0;
    padding-left: 1%;
}
.blogs{
    display: flex;
}
.blog-img{
    overflow: hidden;
    display: block;
    width: 100%;
    vertical-align: middle;
}
.blog-entry{
    width: 25%;
    margin: 10px !important;
    background: white;
}
.blog-entry img{
    position: relative;
    max-width: 100%;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: 0.9s;
    -o-transition: 0.9s;
    transition: 0.9s;
    height:auto;
}
.blog-entry img:hover{
    transform: scale(1);
}
.desc h3 a{
    font-size: 15px;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    display: block;
    width: 70%;
}
.desc{
padding:0 25px 25px 25px;
}
.desc span{
    display: block;
    margin-bottom: 20px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.4) !important;
}
.desc p{
    margin-bottom: 1.5em;
    height: 4vw;
    text-overflow:ellipsis;
    white-space:pre-wrap;
    overflow:hidden;
}
.desc a{
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000;
    text-decoration: none;
}
.lead:hover,.lead_title:hover{
    color:#FF0033;
    transition: all 0.5s;
}
