.blogs_warp{
    padding: 2em;
}
.blogs_warp .goblog{
    color: white;
    text-decoration: none;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    position: fixed;
    top:0;
    padding: 10px 10px;
    letter-spacing: .2em;
    font-family: "Roboto", Arial, sans-serif;
    transition: 0.3s;
    background: #999;
    cursor: pointer;
}
