
li{
    list-style: none;
}
.left{
    padding-top: 60px;
    padding-bottom: 40px;
    width: 100%;
    transition: 0.5s;
    height: 100vh;
    border-right: 1px #FFFFCC solid;
}
.left #logo h1{
    text-align: center;
}
.left #logo a{
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 38px;
    color: #000;
    margin: 0 auto;
    display: block;
    text-decoration: none;
}
.left #logo{
    margin-bottom: 2em;
}
#main-menu li{
    margin: 0 0 20px 0;
    padding: 0;
    list-style: none;
}
#main-menu ul{
    text-align: center;
    margin: 0;
    padding: 0;
}
#main-menu li a{
    color: black;
    text-decoration: none;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    position: relative;
    padding: 10px 10px;
    letter-spacing: .2em;
    font-family: "Roboto", Arial, sans-serif;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
#main-menu ul li a:hover {
  text-decoration: none;
}
#main-menu ul li a:hover:after {
  visibility: visible;
  transform: scaleX(1);
}
#main-menu ul li.active a {
  color: black;
}
#main-menu ul li .active:after {
  visibility: visible;
    transform: scaleX(1);

}
#main-menu ul li a:after {
    content: "";
    position: absolute;
    height: 2px;
    bottom: 7px;
    left: 10px;
    right: 10px;
    background-color: #228896;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
