.warp > div{
    display: flex;
    background: whitesmoke;
    height: 100vh;
}
.warp > div>div:first-child{
    width: 22%;
    background: #fff;
}
.warp > div > div:nth-child(2){
    width: 78%;
    overflow-y: auto;
}
.echart_warp{
    width: 100%;
    height: 30vw;
    padding: 0 20vw 0 0;
}
.warp > div:nth-child(2) > div{
    width: 93%;
    margin: 0 auto;
}
@media screen and (max-width:1200px){
    .warp > div>div:first-child{
        width: 28%;
        margin-left: 0;
    }

}
@media screen and (max-width:992px){
    .hero_ul li h1{
        font-size: 36px;
        top:30vw;
        font-weight: 400
    }
    @keyframes wid{
        0%{
            opacity: 0;
            top:40vw
        }
        100%{
            opacity: 1;
            top:30vw
        }
    }
    .anmite > h1{
        animation: wid  2s;
    }

    .blogs .blog-entry{
        width: 46%;
    }
    .echart_main{
        width: 500px;
        height: 400px;
    }
}
@media screen and (max-width:768px){
    .hero_ul li h1{
        font-size: 24px;
        top:60vw;
        font-weight: 300;
        width: 60vw;
    }
    @keyframes wid{
        0%{
            opacity: 0;
            top:70vw
        }
        100%{
            opacity: 1;
            top:60vw
        }
    }
    .warp > div{
        display: block;
        width: 100%;
    }
    .warp > div>div:first-child{
        width: 70%;
        margin-left: -70%;
        position: fixed;
        z-index: 999;
    }
    .warp > div> #tabs{
        margin-left:0px;
    }
    .warp > div > div:nth-child(2){
        width: 100%;
    }
    .toggle{
        display: block;
    }
    #tabs{
        transition: all 0.5s;
    }
    .bgc_left{
        height: 100vh;
        width: 40%;
        position: absolute;
        right: -40%;
        bottom: 0;
    }

    .blogs .blog-entry{
        width: 100%;
        margin: 0;
        margin-bottom: 10px;
    }
    .blog-img{
        width: 120%;
    }
    .blogs_warp div .goblog{
        position: fixed;
        left:73vw;
    }
    .echart_warp{
        width: 100%;
        height: 60vw;
        padding: 0 15px;
    }
    .echart_warp>div{
        width: 90%;
        margin: 0 auto;
    }
    .git .git_avatar_url img{
        float: none;
        width: 20vw;
        margin: 0 auto;
    }
    .git .git_avatar_url{
        text-align: center;
    }
    .git .git_avatar_url > div p{
        width: 33%;
        font-size: 14px;
    }
}
